# Ambiente Virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Banco
database/*.db

# Logs
logs/

# Downloads
downloads/

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Playwright
playwright-report/
test-results/

# Windows
Thumbs.db